* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.offer {
  background: #ff6363;
  padding: 10px;
  text-align: center;
  color: white;
}

.photo {
  padding-top: 20px;
}

nav {
  width: 100%;
  height: 75px;
  background: #d5e8f3;
  line-height: 75px;
  padding: 0px 100px;
  position: fixed;
  z-index: 1;
}
nav ul {
  display: flex;
  float: right;
  justify-content: flex-start;
  align-items: center;
}
nav ul li {
  display: inline-block;
  list-style: none;
}

nav ul li a {
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0px 21px;
}
nav ul li a:hover {
  color: black;
}

nav ul li a.centre {
  text-align: center;
}

.button button {
  display: flex;
  align-items: center;
  font-size: 15px;
  background-color: #ff6363;
  border-radius: 12px;
  color: white;
  /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
       */
  height: 45px;
  width: 90px;
}
.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.button2 button {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  font-size: 18px;
  margin-left: 15px;
  height: 45px;
}
.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.text-color {
  color: blue;
}

/* .head-logo{
  display: flex;
   /* float: right;
  margin-right: 20px;
  padding-bottom: 100px;
  width :33.33%; */
/*    
}
.head-text{
  display: flex;
  width:33.33% ;
  font-size : 45px;
  padding-top: 100px;
} */

.container {
  display: flex;
  flex-direction: row-reverse;
}

.container > .image {
  padding-top: 50px;
  padding-right: 80px;
  flex: 1 0 0%;
  text-align: right;
}
.image > img {
  vertical-align: top;
  /* max-width: 100%;
  max-height: 300px; */
}

.container > .text {
  padding-left: 30px;
  /* padding-bottom: 140px; */
  font-size: 45px;
  flex: 2 0 0%;
  margin: auto 0;
}

.points {
  font-size: 16px;
  margin-right: 250px;
}

.button3 {
  margin-left: 31px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 40px;
  background-color: #ff6363;
  text-align: center;
  font-size: 27px;
  color: #fff;
  border-radius: 12px;
  height: 40px;
}
.button3:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.text > .list {
  font-size: 25px;
}

.text > .img {
  padding-bottom: 0px;
}
